<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >

<head>


    <!--<div th:switch="${user.role}">-->
        <!--<p th:case="'admin'">User is an administrator</p>-->
        <!--<p th:case="#{roles.manager}">User is a manager</p>-->
    <!--</div>-->

    <title> Spacepointe Ltd:: New  Employee</title>

    <div th:include="header::head_file"/>
</head>

<body>

    <div id="wrapper">
        <div th:include="header::head"/>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Forms</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basic Form Elements
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="add_employee" th:action="@{/employee?form}" method="post">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="First name" id="firstName" name="firstName" required="true" data-validation-required-message="Please enter a first name."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName" required="true" data-validation-required-message="Please enter a lastname."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Department</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Assign Role</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>1
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>2
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox"/>3
                                            </label>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Email</label>
                                                <input type="email" class="form-control" placeholder="Email" id="email" name="lastName" required="true" data-validation-required-message="Please enter a email."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Phone Number</label>
                                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" name="phone" required="true" data-validation-required-message="Please enter a valid phone number."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>States</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Area</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" id="username" name="lastName" required="true" data-validation-required-message="Please enter a username."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="Password" id="password" name="lastName" required="true" data-validation-required-message="Please enter a password."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Re-password</label>
                                                <input type="text" class="form-control" placeholder="Repeat password" id="repeatPassword" name="repeatPassword" required="true" data-validation-required-message="Make sure the password match."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <br/>
                                        <div id="success"></div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <button type="submit" class="btn btn-default">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        <div th:include="footer::foot"/>
    </div>

</body>
</html>